.clr-container {
  margin: 4rem;
}

.align-title {
  margin-left: 0.5rem;
}

.card-background {
  background-color: #eae9e9;
}

.card {
  background-color: #d4d7dd;
}

.clr-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 5%;
  background-color: #002538;
  color: white;
}

a {
  color: white;
}

a:hover {
  border: none;
  text-decoration: none;
}

.laurent {
  color: black;
}

.feedback {
  color: black;
}
